<!DOCTYPE html>
<html>
<head>
  {% include 'meta' %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {{ '_base.scss.css' | asset_url | stylesheet_tag }}
  {{ 'elysii.scss.css' | asset_url | stylesheet_tag }}

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">

  {{ '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' | script_tag }}
  {{ 'jquery.min.js' | asset_url | script_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js' | script_tag }}

  <!--[if lt IE 9]>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% assign respond_js_secret_key = (shop.domain | md5) %}
    {{ 'respond.min.js' | asset_url | script_tag }}
    <link href="{{ 'respond-proxy.html' | asset_url | split: '?' | first }}" id="respond-proxy" rel="respond-proxy" />
    <link href="{{ shop.url }}/search?q={{ respond_js_secret_key }}" id="respond-redirect" rel="respond-redirect" />
    <script src="{{ shop.url }}/search?q={{ respond_js_secret_key }}" type="text/javascript"></script>
  <![endif]-->

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'bootstrapify-option-selection.min.js' | asset_url | script_tag }}

  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  {% if settings.custom-header-code != '' %}
    {{ settings.custom-header-code }}
  {% endif %}

  {{ content_for_header }}

  {% include 'theme-script-variables' %}
  {% include 'theme-variables' %}
</head>

<!--[if IE]><body class="{% include '__body-classes' %} ie"> <![endif]-->
<!--[if !(IE)]><!--> <body class="{% include '__body-classes' %}"> <!--<![endif]-->

{% include 'fellowship-banner' %}

<div class='container-fluid'>
{% include 'fellowship' %}
  <div id="wrap">
    <div id="content">
      <section id='one' class='row'>
<div id='fg'>
      <div class='col-md-12 col-xs-12'>
        <div class='lotrHeader col-md-6 col-md-offset-3 col-sm-12 col-xs-12 text-center'>
          <img class='img-responsive lotrLogo' src='{{ 'lotr_logo.png' | asset_img_url: 'master' }}'>
        </div>
        <div id='ringDisplay' class='col-md-offset-2 col-md-8 col-xs-12 col-sm-12 text-center list-unstyled list-inline'>
          <!-- <div style='width: 700px; margin: auto; overflow;hidden'> -->
            <video width="800" height="469" muted loop preload="autoplay">
            <source src="{{'rings.mp4' | asset_url}}"  type="video/mp4">
          </video>
        <!-- </div> -->
        </div>
        <div class='lotrHeader col-md-6 col-md-offset-3 col-sm-12 col-xs-12 text-center'>

        <h2 style='margin-top: -0.5em;' class='text-center col-md-12 col-xs-12'>
        My Preciousss&trade;<br>
        <span style='font-size: 16pt'>with Elysii Inside&trade;</span>
      </h2>
      </div>
        </div>

      </div>
      <div class='row'>
        <h3 style='color: #F3ED95;'class='text-center col-md-8 col-md-offset-2'><br>;<b>The One Ring&trade;</b> for contactless payments &amp; mobile interaction</h3>


</div>
      <ul id='featureList' class='text-center list-unstyled list-inline'>
        <li><img class='img-responsive center-block' src='{{'icon-nowifi.png' | asset_img_url: '200x'}}'><div class='small'>No Wifi</div></li>
        <li><img class='img-responsive center-block' src='{{'icon-nobattery.png' | asset_img_url: '200x'}}'><div class='small'>No Batteries</div></li>
        <li><img class='img-responsive center-block' src='{{'icon-waterproof.png' | asset_img_url: '200x'}}'><div class='small'>Waterproof</div></li>
        <li><img class='img-responsive center-block' src='{{'icon-reloadable.png' | asset_img_url: '200x'}}'><div class='small'>Reloadable</div></li>
        <li><img class='img-responsive center-block' src='{{'icon-connectcard.png' | asset_img_url: '200x'}}'><div class='small'>Connect a Card</div></li>
        <ul>
        </div>
        <div class='clear' style='position:relative;clear:both'></div>
    </section>
    <section id='two' class='row'>
      <h2 class='text-center'>FAQs</h2>

      <div id='copy' class='col-md-6 col-md-offset-3 col-xs-12 col-sm-12 text-center'>
      {{ content_for_layout }}
    </div>
    </section>
    <section id='three' class='row'>

      <a href='{{all_products.my-preciousss.url}}'>
        <div class='col-md-6 col-md-offset-3 col-xs-12 col-sm-12 purchaseYourRing'>
          Personalize &amp; Purchase Your Preciousss
        </div>
      </a>

    </section>
    </div>
    {% include 'fellowship-bottom' %}
    {% include 'footer' %}
  </div>
  {% include 'facebook-icon' %}
  {% include 'floating-menu' %}
  {% include 'option-select-callback' %}
  {% include 'currencies' %}
  {{ '_base.js' | asset_url | script_tag }}
  {{ 'jquery.ajax-cart.min.js' | asset_url | script_tag }}
  {{ 'jquery.uniform_thumbnails.min.js' | asset_url | script_tag }}
  {{ 'jquery.orderly.min.js' | asset_url | script_tag }}
  {{ 'isotope.pkgd.min.js' | asset_url | script_tag }}
  {{ 'transition.js' | asset_url | script_tag }}
  {{ 'button.js' | asset_url | script_tag }}
  {{ 'carousel.js' | asset_url | script_tag }}
  {{ 'collapse.js' | asset_url | script_tag }}
  {{ 'dropdown.js' | asset_url | script_tag }}
  {{ 'modal.js' | asset_url | script_tag }}
  {{ 'tab.js' | asset_url | script_tag }}
  {{ 'tooltip.js' | asset_url | script_tag }}
  {{ 'popover.js' | asset_url | script_tag }}
  {{ 'typeahead.js' | asset_url | script_tag }}
  {{ 'jquery.instagram.min.js' | asset_url | script_tag }}
  {% if settings.enable-image-zoom %}{{ 'jquery.zoom.min.js' | asset_url | script_tag }}{% endif %}
  {% if settings.enable-image-lightbox %}{{ 'jquery.colorbox-min.js' | asset_url | script_tag }}{% endif %}
  {% if settings.enable-age-verification %}{% include 'age-check' %}{% endif %}

  {% if settings.custom-footer-code != '' %}
    {{ settings.custom-footer-code }}
  {% endif %}

  <script type="text/javascript">

$(window).on("load", function() {
  $('#ringDisplay video').each(function(){this.play();});
});


    {% unless current_handle == blank %}
      $('.handle_{{ current_handle }}').parents('.collapse').addClass('in');
    {% endunless %}


    {% if thumbnail_layout == 'masonry' %}
      var $container = $('.masonry-collection').imagesLoaded(function(){
        $container.isotope({
          itemSelector: '.masonry',
          layoutMode: 'masonry'
        });

        $('.product-main-thumb').orderly();
      });
    {% else %}
    	if(uniformThumbnailElements === undefined){
    		var uniformThumbnailElements = '.thumbnail-image a, .product-main-thumb a';
    	}

      var uniformThumbnailsOpts = {};
      {% if settings.thumbnail-alignment != blank %} uniformThumbnailsOpts.align = '{{ settings.thumbnail-alignment }}'; {% endif %}
      {% if settings.thumbnail-ratio != blank %} uniformThumbnailsOpts.ratio = '{{ settings.thumbnail-ratio }}'; {% endif %}
      {% if settings.thumbnails-cropped == blank %} uniformThumbnailsOpts.fit = 'scale'; {% endif %}
      $(uniformThumbnailElements).uniform_thumbnails(uniformThumbnailsOpts).on('ut_complete', function(){
        //$('.collection-thumbnail .caption').orderly({ method: 'children' });
        //$('.product-thumbnail .caption').orderly({ method: 'children' });
        $('.row').find('.caption').orderly({ method: 'children' });
      });
    {% endif %}


	{% if settings.ajax-cart %}
		$(document).ajaxCart();
	{% endif %}
  </script>
</div>
</body>
</html>
